doctype html
html(lang="en")
  head
    title=name + ' - ' + 'Curriculum Vitae' 

    meta(charset='utf-8')

    link(rel='stylesheet', type='text/css', href='dist/styles/main.css')
  body
    header
      h1#name=name
      p#subtitle=subtitle

    ul#personalDetails
      li.
        Email:
        #[a(href='mailto:'+personalDetails.email) #{personalDetails.email}]
      li.
        Phone:
        #[a(href='tel:'+personalDetails.phoneIntl) #{personalDetails.phone}]